@font-face {
  font-family: 'Metropolis Light';
  src: url('/fonts/Metropolis-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis LightItalic';
  src: url('/fonts/Metropolis-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis Regular';
  src: url('/fonts/Metropolis-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis RegularItalic';
  src: url('/fonts/Metropolis-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis Medium';
  src: url('/fonts/Metropolis-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis MediumItalic';
  src: url('/fonts/Metropolis-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis Bold';
  src: url('/fonts/Metropolis-Bold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis BoldItalic';
  src: url('/fonts/Metropolis-BoldItalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
.wrapper {
  height: 100%;
}

#root {
  /* font-size: clamp(10px, 2vw + 4px, 24px); */
  font-size: 14px;
  background-color: #111216;
  font-family: 'Metropolis Regular', sans-serif;
}
